* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  line-height: 1.5;
}
html {
  margin: 0;
  scroll-behavior: smooth;
}
:root{
  --mainColor:#7d577c;
  --accentColor:#ABB57E;
  --white:#eee;
  --lightBorder:hsl(71, 27%, 80%);
}
li{
  margin:0;
  padding:0;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: var(--accentColor);


}
/* Return to top button */
i {
  position: fixed;
  font-size: 2rem;
  color: var(--white);
  border: solid white 0.2rem;
  padding: 1rem;
  bottom: 0;
  right: 1.5rem;
  background-color: black;
}

.backToTop{
  opacity: 0;
  transition: opacity .2s linear;
}
.visible{
  opacity: 1;
  transition: opacity .2s linear;
}

i:hover {
  background-color: var(--white);
  color: black;
  transition: ease-in-out all 0.2s;
  cursor: pointer;
}
/* NAV BAR */

  nav{
    padding: 20px;
    background-color: var(--mainColor);
    z-index: 10;
  }
  .nav__list{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
  }
  .nav__itemRelative{
    position: relative;

  }
  .cellTypes__list{
    position: absolute;
    left:-1000px;
    background-color: var(--mainColor);
    border: solid var(--lightBorder) 2px;
    padding: 0 10px;
  }
  .cellType__item{
    margin: 20px 0;
    text-align: center;
    font-size: .8em;
  }
    /* Subsections for Cell Types Hover Effect */
  .nav__itemRelative:hover .cellTypes__list{
    left: 0;
  }
  .cellType__item:hover{
    border-left: var(--accentColor) solid 3px;
  }



/* Header */
header h1,
header p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 12, 0, 0.5);
  color: var(--accentColor);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 2rem;
}
header {
  margin-top: 10px;
  border-right: 5px solid rgba(0, 12, 0, 0.6);
  border-bottom: 5px solid rgba(0, 12, 0, 0.6);
}

/* All images*/
#wrapper h2 {
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  align-self: center;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
}
img {
  filter: sepia();
}

#wrapper img,
#wrapper p {
  float: right;
  width: 46%;
  height: 300px;
  font-weight: bolder;
  font-size: 1.5em;
  overflow: scroll;
}

#wrapper h1 {
  margin-left: 1em;
}
#wrapper p {
  padding-left: 20px;
  border-left: solid 1px black;
  color: var(--white);
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper div:hover img {
  filter: none;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#wrapper h2 {
  background-color: var(--white);
  font-size: 1.5rem;
  text-decoration: underline;
  letter-spacing: 0.2rem;
}
/* for Phone that fit between 0 - 500px */
@media screen and (max-width: 720px) {
  nav {
    font-size: 0.4rem;
  }
  img {
    filter: none;
  }
  i {
    padding: 0.5rem;
  }

  header h1,
  header p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 12, 0, 0.5);
    color: var(--accentColor);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bolder;
    font-size: 1rem;
  }
  header {
    margin-top: 10px;
    border-right: 5px solid rgba(0, 12, 0, 0.6);
    border-bottom: 5px solid rgba(0, 12, 0, 0.6);
  }
  #wrapper p {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 800px) {
  img {
    filter: none;
  }
}
