/* Work on fixing sizes based on screen sizes */
* {
  padding: 0;
}

body {
  font-size: 62.5%;
  padding: 20px;
  line-height: 1.5;
  background: linear-gradient(black, black, white) no-repeat center/cover;
}
html {
  margin: 0;
  scroll-behavior: smooth;
}

/* NAV BAR */
main {
  background: navajowhite;
}
nav {
  background-color: black;
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 4em;
  border-bottom: rgba(108, 107, 107, 0.4) solid 0.2rem;
  border-right: rgba(108, 107, 107, 0.4) solid 0.2rem;
}

nav a {
  text-decoration: none;
  font-size: 2em;

  color: white;
}
nav li:hover a {
  color: black;
}

nav li {
  border-right: white solid 1px;
  padding: 0.5em;
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
}
nav li ul {
  margin-top: 3.5em;
  list-style: none;
  position: absolute;
  left: -10000px;
}
nav li:hover ul {
  margin-top: 3.3333em;
  left: 2em;
  background-color: white;
  width: 32.3%;
}
nav li ul li {
  border-bottom: 1px solid #e9c529;
  border-right: 1px solid #e9c529;
}
nav li ul li:active {
  border-left: 10px solid #e3e8e2;
}

nav li ul li:hover {
  border-left: 10px solid rgba(0, 12, 0, 0.6);
}
#backdrop {
  background-color: rgb(67, 66, 66);
}
/*  QUIZ */
#QuizContiner {
  background-color: papayawhip;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  border: 1rem gray solid;
}

.answers {
  margin-bottom: 1rem;
}

button {
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
