* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  line-height: 1.5;
}
html {
  margin: 0;
  scroll-behavior: smooth;
}
:root{
  --mainColor:#5f385f;
  --accentColor:#fff270;
  --white:#eee;
  --lightBorder:hsl(71, 27%, 80%);
  --darkGray:rgb(225, 219, 219);
}

li{
  margin:0;
  padding:0;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: var(--accentColor);
}
img{
  height: auto;
  width:400px;
  margin: 20px auto 0px;

}
/* Return to top button */
i {
  position: fixed;
  font-size: 2rem;
  color: var(--white);
  border: solid --white 0.2rem;
  padding: 1rem;
  bottom: 0;
  right: 1.5rem;
  background-color: var(--mainColor);
  border-radius: 100%;
}

.backToTop{
  opacity: 0;
  transition: opacity .2s linear;
}
.visible{
  opacity: 1;
  transition: opacity .2s linear;
}

i:hover {
  background-color: var(--accentColor);
  color: var(--mainColor);
  transition: ease-in-out all 0.2s;
  cursor: pointer;
}


/* NAV BAR */

  nav{
    padding: 20px;
    background-color: var(--mainColor);


  }
  .nav__list{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    transition: translate linear .3s;
  }
  .nav__itemRelative{
    position: relative;

  }
  .cellTypes__list{
    position: absolute;
    left:-1000px;
    background-color: var(--mainColor);
    border: solid var(--lightBorder) 2px;
    padding: 0 10px;
  }
  .cellType__item{
    margin: 20px 0;
    text-align: center;
    font-size: .8em;
  }
    /* Subsections for Cell Types Hover Effect */
  .nav__itemRelative:hover .cellTypes__list{
    left: 0;
  }
  .cellType__item:hover{
    border-left: var(--accentColor) solid 3px;
  }
/* nav hamburger */
.menu-btn{
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  
  
}


.menu-btn__hamburger{
  width: 30px;
  height: 2px;
  background-color: var(--accentColor);
  position: absolute;
  transition: linear .2s;
}
.menu-btn__hamburger::after,.menu-btn__hamburger::before{
  content: '';
  width: 30px;
  height: 2px;
  background-color: var(--accentColor);
  position: absolute;
  transition: linear .2s;
}
.menu-btn__hamburger::after{
  transform: translateY(10px);
}
.menu-btn__hamburger::before{
  transform: translateY(-10px);
}

.menu-btn--open .menu-btn__hamburger::after{
transform: rotate(45deg);
}
.menu-btn--open .menu-btn__hamburger::before{
transform: rotate(-45deg);
}
.menu-btn--open .menu-btn__hamburger {
background: transparent;
transform: rotate(360deg);
}

/* MAIN Cell container */
.title{
  font-size: 2.5em;
}
.cells__TypesContainer{
  background-color: var(--darkGray);
  margin: 20px 100px 0px;
  padding: 40px;
  border-radius: 20px;
}
.cell__card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  font-size: 1.4em;

}

/* About Section */
.about__container{
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
font-size: 1.8em;
color: var(--mainColor);
text-align: center;
}

/* Quiz Section */
.quiz__container{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  background-color: var(--darkGray);
  padding: 60px;
  font-size: 1.4em;
  width: 1000px;
  text-align: center;
}
.answers label{
  margin: 0 10px;
}

@media (max-width:700px) {
  /* mobile nar bar */
 nav{
  padding: 0;
 }
  .menu-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 1;
    pointer-events:all;

  }
  /* causes links to disappear at smaller sizes and when the hamburger is clicked on, is removed and items are seen again */
  .nav__item--translateX{
    transform: translateY(-1000px);
  }

  .navBar--slide{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  
  }
  .nav__list{
    flex-direction: column;
    height: 100px;
    gap:40px;
  }
  
  .nav__itemRelative:hover .cellTypes__list{
    left: -1000px;
    display: none;
  }

  /* cell ID */
img{
  width: 300px;
}
.cells__TypesContainer{
  text-align: center;
}
  /* about */
  .about__container{
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    font-size: 1.3em;
    color: var(--mainColor);
    text-align: center;
    z-index: -2;
    }
  /* quiz */
  .quiz__container{
    z-index: -2;
    background-color: var(--darkGray);
    font-size: 1.4em;
    text-align: center;
  }
}